
/evm/out
/evm/cache
/svm/target
**/test-ledger
/svm/.anchor
**/package-lock.json
**/yarn.lock
**/*.rs.bk
**/node_modules
**/.DS_Store
**/.vscode
.env

/thuggable/releases/*
/thuggable/Thuggable.app.app
/thuggable/Thuggable_apk.apk
/thuggable/Thuggable-app.app
/thuggable/selfsigned.crt
/thuggable/selfsigned.key
/thuggable/selfsigned.pfx
/thuggable/Thuggable.zip
/thuggable/thuggable-go.app
/thuggable/wasm/*

/thuggable/release-key.jks
/thuggable/thuggable_go.aab
/thuggable/repo-structure.txt
/thuggable/pepk.jar
/thuggable/output.zip

/quid.io/build
/quid.io/react/node_modules

/thuggable/encryption_public_key.pem
/thuggable/fyne-cross/*
/thuggable/deplpyment-rpc.info
/thuggable/folders.txt
